name: lint

on:
  push:
    paths:
      - 'go.mod'
      - '**/*.go'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.7.2
